.idea
*.iml
www
node_modules
platforms
plugins
npm-debug.log
dist
yarn-error.log
.history
.eslintcache
.DS_Store
mobile/playcanvas/scripts/index.iife.js
mobile/playcanvas/Ammo
mobile/playcanvas/models
mobile/playcanvas/Basis
mobile/playcanvas/Animations
mobile/playcanvas/Sounds
mobile/playcanvas/SpriteSheets
types